body {
    background-color: #E6ECF0 ;
    color: #4B2E2E;
}

header {
    background-color: #003366;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
}

.bandeira img {
    margin-top: 50px;
    border-radius: 20px;
}
.apresentacao{
    margin-top: 20px;
    color: #FFD580;
}

.navbar {
    background-color: rgba(5, 3, 141, 0.185);
    width: 100%;
}

.navbar-nav .nav-link {
    color: #FFD580 !important;
    font-weight: bold;
}

.corpo {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align:justify;
    gap: 20px;
    padding: 20px 300px;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.carrossel{
    width: 50%
}

.carousel-caption{
    background-color: rgba(160, 160, 160, 0.556)
}

p{
    font-size: 130%
}

.card {
    border: 6px groove #FF9933;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    
}

.card-body {
    background-color: #FFD580;
    color: #4B2E2E;
    text-align: center;
}

.pontos{
    font-size: 1rem;
}

.table {
    border: 3px groove #FF9933;
    width: 100%;
    height: 100%;
}